CacheControl==0.14.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.15.1
charset-normalizer==3.3.2
cryptography==43.0.1
firebase_admin==6.5.0
google-api-core==2.19.2
google-api-python-client==2.144.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.18.0
google-cloud-storage==2.18.2
google-crc32c==1.5.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
grpcio==1.62.3
grpcio-status==1.62.3
httplib2==0.22.0
idna==3.8
importlib-metadata==6.7.0
msgpack==1.0.5
numpy==1.21.6
opencv-python==4.5.5.64
picamera==1.13
pkg_resources==0.0.0
proto-plus==1.24.0
protobuf==4.24.4
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.8.0
pyparsing==3.1.4
python-dotenv==0.21.1
requests==2.31.0
RPi.GPIO==0.7.1
rsa==4.9
tflite-runtime==2.11.0
typing_extensions==4.7.1
uritemplate==4.1.1
urllib3==2.0.7
zipp==3.15.0
